<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/bundles/AngularStyles")

</head>
<body ng-app="sampleApp">
    @RenderBody()


    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/AngularJs")
    @Scripts.Render("~/bundles/SampleApplicationJs")
</body>
</html>
